{% load staticfiles %}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
	<head>
		<title>cityTIPs | Trip Itinerary Planner</title>
{#		<link href="images/css/style.css" rel='stylesheet' type='text/css' />#}

        <link href="{% static "bootstrap/css/style.css"%}" rel='stylesheet' type='text/css' />

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
{#		</script>#}
		<script src="{% static "bootstrap/js/jquery.min.js"%}"></script>
		<!---script---->
		<link rel="stylesheet" href="{% static "bootstrap/css/jquery.bxslider.css" %}" type="text/css" />
		<script src="{% static "bootstrap/js/jquery.bxslider.js"%}"></script>
			<script type="text/javascript">
				$(document).ready(function(){
					$('.bxslider').bxSlider({
						 auto: true,
 						 autoControls: true,
						 minSlides: 4,
						 maxSlides: 4,
						 slideWidth:450,
						 slideMargin: 10
					});
				});
			</script>
		<!---//script---->
		<!---smoth-scrlling---->
			<script type="text/javascript">
				$(document).ready(function(){
									$('a[href^="#"]').on('click',function (e) {
									    e.preventDefault();
									    var target = this.hash,
									    $target = $(target);
									    $('html, body').stop().animate({
									        'scrollTop': $target.offset().top
									    }, 1000, 'swing', function () {
									        window.location.hash = target;
									    });
									});
								});
				</script>
		<!---//smoth-scrlling---->
		<!----start-top-nav-script---->
		<script type="text/javascript" src="{% static "bootstrap/js/flexy-menu.js"%}"></script>
		<script type="text/javascript">$(document).ready(function(){$(".flexy-menu").flexymenu({speed: 400,type: "horizontal",align: "right"});});</script>
		<!----//End-top-nav-script---->
		<!---webfonts---->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<!---webfonts---->
		<!--start slider -->
	    <link rel="stylesheet" href="{% static "bootstrap/css/fwslider.css" %}" media="all">
		<script src="{% static "bootstrap/js/jquery-ui.min.js" %}"></script>
		<script src="{% static "bootstrap/js/css3-mediaqueries.js" %}"></script>
		<script src="{% static "bootstrap/js/fwslider.js" %}"></script>
		<!--end slider -->
		<!---calender-style---->
		<link rel="stylesheet" href="{% static "bootstrap/css/jquery-ui.css" %}"/>
		<!---//calender-style---->
	</head>
	<body>
		<!----start-wrap---->
 <!----start-top-header----->
			<div class="top-header" id="header">
				<div class="wrap">
				<div class="top-header-right">
					<ul>
						<li><a class="pin" href="#"><span> </span></a></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			</div>
			<!----//End-top-header----->


			<!---start-header---->
			<div class="header">
				<div class="wrap">
				<!--- start-logo---->
				<div class="logo">
					<a href="/your-search/"><img src="{% static "bootstrap/images/cityTipslogo.png" %}" title="cityTIPs" /></a>
				</div>
				<!--- //End-logo---->
				<!--- start-top-nav---->
				<div class="top-nav">
						<ul class="flexy-menu thick orange">
							<li><a href="/userprofile/"> My Profile </a></li>
                            <li><a href="/logout/">LOGOUT</a></li>
						</ul>
						<!----search-scripts---->
						<script src="{% static "bootstrap/js/modernizr.custom.js"%}"></script>
						<script src="{% static "bootstrap/js/classie.js"%}"></script>
						<script src="{% static "bootstrap/js/uisearch.js" %}"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
						<!----//search-scripts---->
				</div>
				<!--- //End-top-nav---->
				<div class="clear"> </div>
			</div>
			<!---//End-header---->
		</div>

		<!----start-find-place---->
		<div class="find-place">
			<div class="wrap">
				<div class="p-h">
                    <label>Welcome Back, {{username}}</label>

					<h1 style="color:white">LET'S EXPLORE</h1>
				</div>
				<!---strat-date-piker---->
				  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
				  <script>
				  $(function() {
				    $( "#datepicker" ).datepicker();
				  });
				  </script>
				<!---/End-date-piker---->
				<div class="p-ww">
					<form action="/your-search/" method="post">{% csrf_token %}
						<span> Where</span><br>
               <label for = "city"> </label> <input class="dest" type="text" name="city" id="city" value="{{ current_name }}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Destination';}"><br><br>

                <label for="bar">Bar: </label> <input type="checkbox" name="bar" value="bar" id ="bar"><br>
                <label for="coffee">Coffee: </label> <input type="checkbox" name="coffee" value="coffee" id ="coffee"><br>
                <label for="restaurant">Restaurant: </label> <input type="checkbox" name="restaurant" value="restaurant" id ="restaurant"><br><br>
{#                        Search your Food&Drinks<label for = "term"> </label> <input class="dest" type="text" name="term" id="term" value="{{ current_name }}" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Destination';}">#}
                        Search your Food&Drinks<br><br>
                        <label for = "term"> </label> <input class="dest" type="text" name="term" id="term"><br><br><br>
                <label for="arts">Arts: </label> <input type="checkbox" name="art" value="art" id="arts"><br><br>
                <label for="fashion">Fashion: </label> <input type="checkbox" name="fashion" value="fashion" id="fashion"><br><br>
                <label for="film">Film: </label> <input type="checkbox" name="film" value="film" id="film"><br><br>
                <label for="holiday">Holiday: </label> <input type="checkbox" name="holiday" value="holiday" id="holiday"><br><br>
                <label for="music">Music: </label> <input type="checkbox" name="music" value="music" id="music"><br><br>
                <label for="shopping">Shopping: </label> <input type="checkbox" name="shopping" value="shopping" id="shopping"><br><br>
                <label for="sports">Sports: </label> <input type="checkbox" name="sports" value="sports" id="sports"><br><br>
                <label for="outdoor">Travel & Outdoor: </label> <input type="checkbox" name="outdoor" value="outdoor" id="outdoor"><br><br>
                        Search your Activity<br><label for = "acti"> </label> <input class="dest" type="text" name="acti" id="acti"><br><br>
{#                        Top Picks of the city<input type="checkbox" name="pick" value="pick"><br><br>#}
                        Trending of the week in the city<input type="checkbox" name="trend" value="trend"><br><br>
                        <br>
                        <input type="submit" value="Submit">
					</form>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
		<!----//End-find-place---->
        <!----//End-wrap---->
	</body>
</html>

