{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
         <title>Registration Page</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Registration Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "assets1/bootstrap/css/bootstrap.min.css" %}"/>
        <link rel="stylesheet" href="{% static "assets1/font-awesome/css/font-awesome.min.css" %}"/>
        <link rel="stylesheet" href="{% static "assets1/css/form-elements.css" %}"/>



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->

        <link rel="shortcut icon" href= "{% static "assets1/ico/favicon.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href= "{% static "assets1/ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href= "{% static "assets1/ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href= "{% static "assets1/ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed"  href= "{% static "assets1/ico/apple-touch-icon-57-precomposed.png" %}">

    </head>

    <body>

		<!-- Top menu -->
		<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
			<div class="container">
			</div>
		</nav>

        <!-- Top content -->
        <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>Bootstrap</strong> Registration Form</h1>
                            <div class="description">
                            	<p>
	                            	This is the registration form for our website.
                            	</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    	<div class="col-sm-6 phone">
                    		<img src="{% static "assets1/img/iphone.png" %}" alt="">
                    	</div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Register to our App</h3>
                            		<p>Fill in the form below to get instant access:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="/success-registration/" method="post" class="registration-form">{% csrf_token %}
			                    	<div class="form-group">
			                    		<label class="sr-only" for="firstname">First name: </label>
			                        	<input type="text" name="firstname" class="form-first-name form-control" id="firstname">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="lastname">Last name: </label>
			                        	<input type="text" name="lastname" class="form-last-name form-control" id="lastname">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="emailid">Email Address: </label>
			                        	<input type="text" name="emailid" class="form-email form-control" id="emailid">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="mobilephone">Mobile Phone: </label>
			                        	<input type="text" name="mobilephone" class="form-email form-control" id="mobilephone">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="location">Location: </label>
			                        	<input type="text" name="location"  class="form-email form-control" id="location">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="city">City: </label>
			                        	<input type="text" name="city" class="form-email form-control" id="city">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="country">Country: </label>
			                        	<input type="text" name="country" class="form-email form-control" id="country">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="zipcode">Zip Code: </label>
			                        	<input type="text" name="zipcode" class="form-email form-control" id="zipcode">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="username">User Name: </label>
			                        	<input type="text" name="username" class="form-email form-control" id="username">
			                        </div>
                                    <div class="form-group">
			                       <strong> Password: </strong> <label class="sr-only" for="password"></label>
			                        	<input type="text" name="password" class="form-email form-control" id="password">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="confirmpassword"> Confirm Password: </label>
			                        	<input type="text" name="confirmpassword" class="form-email form-control" id="confirmpassword">
			                        </div>
                                    <div class="form-group">
			                        	<label class="sr-only" for="dateofbirth">Date of Birth: </label>
			                        	<input type="text" name="dateofbirth" class="form-email form-control" id="dateofbirth">
			                        </div>
                                       <div class="form-group">
			                        	<label class="sr-only" for="gender">Gender: </label>
			                        	<input type="text" name="gender" class="form-email form-control" id="gender">
			                        </div>
			                        <button type="submit" class="btn">Sign me up!</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Javascript -->

        <script src="{% static "assets1/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "assets1/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "assets1/js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "assets1/js/retina-1.1.0.min.js" %}"></script>

        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 684px; width: 147px; z-index: -999999; position: fixed;">
{#          <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 2000px; height: 900px; max-height: none; max-width: none; z-index: -999999; left: -382.5px; top: 0px;" src="{% static "assets1/img/backgrounds/1.jpg" %}">#}
        </div>

        <img style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1900px; height: 1300px; max-height: none; max-width: none; z-index: -999999; left: -386.333px; top: 0px;" src="{% static "assets1/img/backgrounds/4.jpg" %}">

        <!--[if lt IE 10]>
             <script src="{% static "assets1/js/placeholder.js" %}"></script>
        <![endif]-->

    </body>

</html>

